<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Novel</title>
</head>
<body>

<h1> Add Novel Page </h1>
<form  th:object="${novel}" th:action="@{/add-novel-data}" method="post">
<input type="text" th:field="*{title}"/>
<input type="text" th:field="*{published}"/>
<input type="text" th:field="*{pages}"/>
<input type="text" th:field="*{price}"/>
<input type="text" th:field="*{genre}"/>
<button type="submit"> Add Novel </button>
</form>

<div th:text="${message}"> message </div>


</body>
</html>