<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Novel</title>
</head>
<body>

	<h1>View Novel page - Selection exps</h1>

	<div th:object="${novel}">
		Title : <h2 th:text="*{title}">title</h2>
		Published : <h2 th:text="*{published}">published date</h2>
		Pages : <h2 th:text="*{pages}">pages</h2>
		Price : <h2 th:text="*{price}">price</h2>
	    Genre : <h2 th:text="*{genre}">genre</h2>
	
	</div>
	<h2> Reading the same object again .. </h2>
	<div th:object="${novel}">
	     Title : <h2 th:text="*{title}">title</h2>
		Published : <h2 th:text="*{published}">published date</h2>
	</div>
		

</body>
</html>